<html>
    <head>
		<title>
        {{# if loggedin}}
			Welcome {{userName}}
		{{else }}
			NodeJS
		{{/if}}
		</title>
        <script defer src="http://localhost:3000/login"></script>"
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    </head>
    <body class="container">
        <div class="page-header">
            <h1>GROUPER</h1>
            <p>Login to find a group and join a chatroom !</p>
        </div>

                            <ul class="nav navbar-nav navbar-right">
					{{# if loggedin}}
						<li><a href="/logout">Log Out</a></li>
					{{else }}
						<li><a href="/login">Log In</a></li>
					{{/if}}
                        
                    </ul>

       {{{body}}}
    </body>
</html>