    <body>
        <div class="main signup">
            <p class="sign" align="center">SIGN UP</p>
                <form action="/login" method="post" class = "form1">
                <input class="un " type="text" align="center" placeholder="Username" name="username">
                <input class="un " type="text" align="center" placeholder="Email" name="email">
                <input class="pass" type="password" align="center" placeholder="Password" name="password">
                <input class="btn btn-primary click" type="submit" value="Log In"/>    
    </div>
    </body>
